body {
    width: 100%;
    height: 100%;
    zoom: 100%;
    /*background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/resources/20190105213730_1_4k.jpg");*/
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_withbackground {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/resources/20190105213730_1_4k.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_mild_blue {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/content/assets/images/backgrounds/mild_blue.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_mild_gold {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/content/assets/images/backgrounds/mild_gold.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_mild_green {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/content/assets/images/backgrounds/mild_green.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_mild_grey {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/content/assets/images/backgrounds/mild_grey.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_mild_orange {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/content/assets/images/backgrounds/mild_orange.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_mild_yellow {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/content/assets/images/backgrounds/mild_yellow.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.home_mild_undefined {
    width: 100%;
    height: 100%;
    zoom: 100%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/content/assets/images/backgrounds/mild_undefined.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.homepagezoom1 {
    width: 100%;
    height: 100%;
    zoom: 75%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/resources/20190105213730_1_4k.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.homepagezoom2 {
    width: 100%;
    height: 100%;
    zoom: 85%;
    background-image: url("https://dtcneuron.sharepoint.com/sites/LobbyTools/resources/20190105213730_1_4k.jpg");
    background-position: initial;
    background-repeat: repeat-y;
    background-size: 100%;
}

.mw2table .thead-dark th {
    color: azure; /*#fff*/ /*#ffc107*/ /*yellow*/
    /*background-color: #000000;*/
    background-color: #252525;
    border-color: #c8cbcf;
    text-align: center;
    vertical-align: middle;
    padding: 4px 4px; /*thead dark - table head padding*/
}

.mw2table {
    min-width: 70%;
    text-align: center;
    margin: 3px auto 0 auto;
    color: azure;
    background-color: #383636;
    /*color: #212529;
	background-color: azure;
	background: rgba(255, 255, 255, 0.7);
	outline-color: gold;
	outline-style: groove;
	*/
    vertical-align: middle;
}
/*#mw2playertable tbody {
	background-color: azure;
	background: rgba(255, 255, 255, 0.7);
}*/

th.rank {
    width: 30px;
}

#mw2playertable td > img {
    height: 35px;
    image-rendering: -webkit-optimize-contrast;
}

.mw2tablebody table tbody {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    /*color: #212529;*/
    text-align: center;
    background-color: azure;
    background: rgba(255, 255, 255, 0.7);
}

.mw2-table-hover tbody mw2tr mw2tr:hover tr:hover {
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
    /*color: #212529;*/
    background-color: rgba(0,0,0,.075);
}

#mw2playertable {
    max-width: 720px;
}


button.mw2_RedToRedBtn {
    padding: 3px 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px #820000;
}

    button.mw2_RedToRedBtn:hover {
        background-color: red
    }

    button.mw2_RedToRedBtn:active {
        background-color: red;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

button.mw2_GreenToGreenBtn {
    padding: 3px 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: greenyellow;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px #820000;
}

    button.mw2_GreenToGreenBtn:hover {
        background-color: green
    }

    button.mw2_GreenToGreenBtn:active {
        background-color: green;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

button.mw2_BlueToBlueBtn {
    padding: 3px 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: skyblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px #820000;
}

    button.mw2_BlueToBlueBtn:hover {
        background-color: deepskyblue
    }

    button.mw2_BlueToBlueBtn:active {
        background-color: deepskyblue;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

button.mw2_PinkToPinkBtn {
    padding: 3px 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: hotpink;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px #820000;
}

    button.mw2_PinkToPinkBtn:hover {
        background-color: deeppink
    }

    button.mw2_PinkToPinkBtn:active {
        background-color: deeppink;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

button.mw2_OrangeToOrangeBtn {
    padding: 3px 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px #820000;
}

    button.mw2_OrangeToOrangeBtn:hover {
        background-color: darkorange
    }

    button.mw2_OrangeToOrangeBtn:active {
        background-color: darkorange;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


.mw2_GrayToGrayBtn {
    padding: 3px 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px #820000;
}
.mw2_GrayToGrayBtn:hover {
    background-color: darkgray
}

.mw2_GrayToGrayBtn:active {
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.mw2_GrayToGrayBtn {
    padding: 3px 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px #820000;
}

    button.mw2_GrayToGrayBtn:hover {
        background-color: darkgray
    }

    button.mw2_GrayToGrayBtn:active {
        background-color: darkgray;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }




